[{boss, [
    {path, "../ChicagoBoss"},
    {vm_cookie, "abc123"},
    {applications, [cb_admin]},
    {db_host, "localhost"},
    {db_port, 1978},
    {db_adapter, mock},
    {log_dir, "log"},
    {server, mochiweb},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{cb_admin, [
    {path, "../cb_admin"},
    {allow_ip_blocks, ["127.0.0.1"]},
    {base_url, "/admin"}
]}].
