<ul>
    <li><a class="index{% if index_section %} selected{% endif %}" href="{% url controller="admin" %}">Index</a></li>
    <li><a class="routes{% if routes_section %} selected{% endif %}" href="{% url controller="routes" %}">Routes</a></li>
    <li><a class="model{% if model_section %} selected{% endif %}" href="{% url controller="model" %}">Models</a></li>
    <li><a class="lang{% if lang_section %} selected{% endif %}" href="{% url controller="lang" %}">Lang Center</a></li>
    <li><a class="upgrade{% if upgrade_section %} selected{% endif %}" href="{% url controller="upgrade" %}">Code Upgrade</a></li>
</ul>
