<h3 id="Community">Community<a class="wiki-anchor" href="#Community">¶</a></h3>
<ul>
	<li><a target="_blank" class="external" href="http://groups.google.com/group/chicagoboss">Mailing list</a></li>
    <li>#chicagoboss on irc.freenode.net</li>
</ul>

<h3 id="Learn">Learn<a class="wiki-anchor" href="#Learn">¶</a></h3>
<ul>
	<li><a target="_blank" class="wiki-page" href="https://github.com/evanmiller/ChicagoBoss/wiki/Application-Architecture">Architecture</a></li>
	<li><a target="_blank" class="wiki-page" href="https://github.com/evanmiller/ChicagoBoss/wiki/Example-Application">Example Application</a></li>
	<li><a target="_blank" class="wiki-page" href="https://github.com/evanmiller/ChicagoBoss/wiki/Guides">Guides</a></li>
	<li><a target="_blank" class="wiki-page" href="https://github.com/evanmiller/ChicagoBoss/wiki/Roadmap">Project Goals</a></li>
	<li><a target="_blank" class="external" href="http://www.chicagoboss.org/tutorial.pdf">Tutorial</a></li>
</ul>

<h3 id="Develop">Develop<a class="wiki-anchor" href="#Develop">¶</a></h3>
<ul>
	<li><a target="_blank" class="wiki-page" href="https://github.com/evanmiller/ChicagoBoss/wiki/Installation">Installation</a></li>
	<li><a target="_blank" class="wiki-page" href="https://github.com/evanmiller/ChicagoBoss/wiki/Configuration">Configuration</a></li>
	<li><a target="_blank" class="wiki-page" href="https://github.com/evanmiller/ChicagoBoss/wiki/Upgrades">Upgrades</a></li>
	<li><a target="_blank" href="http://www.chicagoboss.org/api.html">API</a></li>
</ul>

<h3 id="Deploy">Deploy<a class="wiki-anchor" href="#Deploy">¶</a></h3>
<ul>
	<li><a target="_blank" class="wiki-page" href="https://github.com/evanmiller/ChicagoBoss/wiki/Deploy">Deploy</a></li>
</ul>
