{% extends "admin/layouts/admin.html" %}
{% block title %}Loaded Routes{% endblock %}

{% block left_submenu %}
<ul>
    <li><a href="{% url action="reload" %}">Reload routes</a></li>
</ul>
{% endblock %}

{% block right_submenu %}
<ul>
	<li><a href="http://www.chicagoboss.org/api-controller.html">API Doc</a></li>
</ul>
{% endblock %}

{% block body %}

    {% for appname, routes in all_routes %}
    <h1>Loaded Routes: file {{ appname }}.routes</h1>
<table class="list files">

	<thead>
		<tr>
			<th>Url/Special</th>
			<th>Application</th>
			<th>Controller</th>
			<th>Action</th>
			<th>Params</th>
		</tr>
	</thead>
	<tbody>
	{% for route in routes %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td class="filename">{{ route.url }}</td>
			<td class="filename">{{ route.application }}</td>
			<td class="filename">{{ route.controller }}</td>
			<td class="filename">{{ route.action }}</td>
			<td class="filename">{{ route.params }}</td>
		</tr>		
	{% endfor %}	

  </tbody>
</table>
    {% endfor %}
{% endblock %}
